<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>
<div class="login-form">
    <!--<form onsubmit="return false">-->
        <!--<input type="text" id="email" class="text-field" placeholder="아이디"><br>-->
        <!--<input type="password" id="password" class="text-field" placeholder="비밀번호"><br>-->
        <!--<input type="submit" value="로그인" class="submit-btn">-->
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>

    <div class="links">
        <a href="http://localhost:8080/register">ID가 없나요?</a>
    </div>
</div>
</body>
</html>