<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <head>
            <title>로그인</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/css/style.css">
            <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
        </head>
<body>
<div class="login-form">
    <input type="email" name="email" id="mail" class="text-field" placeholder="email"><br>
    <input type="password" name="password" id="password" class="text-field" placeholder="password"><br>
    <input type="button" value="중복체크" id="commit" class="submit-btn">
    <input type="button" value="회원가입" id="register" class="submit-btn">
    <div class="links">
        <a href="http://localhost:8080/login">뒤로가기</a>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script>
    var check = 0;

    $('#commit').click(function () {
        var jsonData = JSON.stringify({
            email: $('#mail').val()
        });
        // var email = $('mail').val();
        $.ajax({
            url: "http://localhost:8080/register/commit",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                check = 1;
                alert('사용가능합니다!');
            },
            error: function () {
                alert('중복입니다!');
            }
        });

    });
    $('#register').click(function () {
        if(check === 1) {
            var jsonData = JSON.stringify({
                email: $('#mail').val(),
                password: $('#password').val()
            });
            $.ajax({
                url: "http://localhost:8080/register/create",
                type: "POST",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    alert('회원가입 성공!');
                    location.href = '/login';
                },

                error: function () {
                    alert('회원가입 실패!');
                }

            });
        }
        if(check === 0) {
            alert("중복체크를 하세요")
        }

    });

</script>