<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ToDoList</title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/Stylesheet.css">

</head>
<body style="font-family: 'Do Hyeon', sans-serif; font-size: 20px">
<div class="jumbotron" align="center">
    <div class="page-header" style="text-align: center">
        <h1>To Do List</h1>
    </div>
    <div id="register">
        <input id="description" type="text" />
        <button class="btn btn-primary"  id="insert">등록</button>
    </div>
    <div id="mainHide" align="center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">완료 여부</th>
                <th class="col-md-5">내용</th>
                <th class="col-md-2">생성 날짜</th>
                <th class="col-md-2">완료 날짜</th>
                <th class="col-md-5">삭제</th>
                <th class="col-md-5">수정</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${list}">
                <td th:text="${list.idx}"></td>
                <td th:text="${list.status}"></td>
                <td th:text="${list.description}"></td>
                <td th:text="${list.createdDate} ? ${#temporals.format(list.createdDate,'yyyy-MM-dd HH:mm')} : ${list.createdDate}"></td>
                <td th:text="${list.completedDate} ? ${#temporals.format(list.completedDate,'yyyy-MM-dd HH:mm')} : ${list.completedDate}"></td>
                <td>
                    <button  data-th-value="${list.idx}" class="delete"><img class="trash2" src="/images/trash.png" ></button>
                    <!--th:value="${list.idx}"-->
                </td>
                <td>
                    <!--<button class="btn btn-primary" onclick="window.open('update', '_blank', 'width=500px,height=500px,toolbars=no,scrollbars=no')">Update</button>-->
                    <button class="btn btn-primary" onclick="prompt('수정할 내용을 입력하세요'); ">Update</button>
                    <!--<button th:value="${list.idx}" class="update">Update</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script>
    // $(document).ready(function () {
    //     $('p').each(
    //         function (index) {
    //             $(this).attr({
    //                 'id': "delete"+index
    //                 }
    //             );
    //         }
    //     );
    //     $('#btn1').click(function () {
    //         alert($('#delete-0').text());
    //
    //     })
    // });
    $('#insert').click(function () {
        var jsonData = JSON.stringify({
            description: $('#description').val()
        });
        $.ajax({
            url: "http://localhost:8080/api",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('저장 성공!');
                location.href = '/tdl/list';
            },
            error: function () {
                alert('저장 실패!');
            }
        });
    });
    $('.delete').click(function () {
        var id = $(this).val();
        $.ajax({
            url: "http://localhost:8080/api/" + id,
            type: "DELETE",
            success: function () {
                alert('삭제 성공!');
                location.href = '/tdl/list';
            },
            error: function () {
                alert('삭제 실패!');
            }
        });
    });
    // function removeUser(${list.idx}) {
    //     // var id = $(this).val();
    //     $.ajax({
    //         type: "DELETE",
    //         url: "http://localhost:8080/api/" + $('list.idx').val(),
    //         success: function () {
    //             // window.location.reload();
    //             $('#list').remove();
    //         },
    //
    //         error: function () {
    //             alert('삭제 실패!');
    //         }
    //     });
    // }
</script>
</body>
</html>