<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ToDoList</title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/Stylesheet.css?ver=3">

</head>
<body style="font-family: 'Do Hyeon', sans-serif; font-size: 20px">
<!--<div class="jumbotron" align="center">-->
<div align="center">
    <div class="page-header" style="text-align: center">
        <h1>To Do List</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <!--<button id="logout" style="text-align: right" onclick="location.href='/tdl/logout'" class="btn-primary">Logout-->
        <!--</button>-->
    </div>

    <div id="register">
        <form class="form-inline" onsubmit="return false">
            <input id="description" type="text"/>
            <button class="btn btn-primary" id="insert">등록</button>
        </form>
    </div>
    <div id="mainHide" align="center">
        <div th:each="list : ${list}">
            <div class="jumbotron">
                <div class="jumbotron-left">
                    <h2 th:text="${list.description}"></h2>
                    <p>
                        <span th:text="${list.createdDate} ? ${#temporals.format(list.createdDate,'yyyy-MM-dd HH:mm')} : ${list.createdDate}"> </span>
                        <span> ~ </span>
                        <span th:text="${list.completedDate} ? ${#temporals.format(list.completedDate,'yyyy-MM-dd HH:mm')} : ${list.completedDate}"></span>
                    </p>
                </div>
                <div class="jumbotron-right">
                    <p>
                        <span>
                        <input id="list_complete" type="hidden" th:value="${list?.completedDate}">
                        <button type="button" data-th-value="${list.idx}" th:if="!${list.status}" class="complete"><img class="img" name="img2" src="/images/check.png"></button>
                        <button type="button" data-th-value="${list.idx}" th:if="${list.status}" class="complete"><img class="img" name="img2" src="/images/checked.png"></button>
                        <button type="button" data-th-value="${list.idx}" class="update"><img class="img" src="/images/edit.png"></button>
                        <button data-th-value="${list.idx}" class="delete"><img class="img" src="/images/trash.png"></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script>
    $('#insert').click(function () {
        var jsonData = JSON.stringify({
            description: $('#description').val()
        });
        $.ajax({
            url: "http://localhost:8080/tdl",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('저장 성공!');
                location.href = '/tdl/list';
            },
            error: function () {
                alert('저장 실패!');
            }
        });
    });
    $('.delete').click(function () {
        $.ajax({
            url: "http://localhost:8080/tdl/delete/" + $(this).val(),
            type: "DELETE",
            success: function () {
                alert('삭제 성공!');
                location.href = '/tdl/list';
            },
            error: function () {
                alert('삭제 실패!');
            }
        });
    });
    $('.update').click(function () {
        var updateDes = prompt("내용을 입력하세요", "");
        console.log(updateDes);
        $.ajax({
            url: "http://localhost:8080/tdl/update/" + $(this).val(),
            type: "PUT",
            data: updateDes,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('수정 성공!');
                location.href = '/tdl/list';
            },
            error: function () {
                alert('수정 실패!');
            }
        });
    });
    $('.complete').click(function () {
        document.img2.src = "/images/checked.png";
        var jsonData = JSON.stringify({
            completedDate: $('#list_complete').val()
        });
        $.ajax({
            url: "http://localhost:8080/tdl/complete/" + $(this).val(),
            type: "PUT",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('완료!');
                location.href = '/tdl/list';
            },
            error: function () {
                alert('완료 실패!');
            }
        });
    });
</script>
</body>
</html>