<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ToDoList</title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/Stylesheet.css?ver=3">

</head>
<body style="font-family: 'Do Hyeon', sans-serif; font-size: 20px">
<div align="center">
    <div class="page-header" style="text-align: center">
        <h1>To Do List</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div id="register">
        <form class="form-inline" onsubmit="return false">
            <input id="description" type="text"/>
            <button class="btn btn-primary" id="insert">등록</button>
        </form>
    </div>
    <div th:each="list : ${list}" id="mainHide" align="center">
        <div style="width: 60%">
            <div class="jumbotron">
                <div class="jumbotron-left">
                    <h2 th:text="${list.description}"></h2>
                    <p>
                        <span th:text="${list.createdDate} ? ${#temporals.format(list.createdDate,'yyyy-MM-dd HH:mm')} : ${list.createdDate}"> </span>
                        <span> ~ </span>
                        <span th:text="${list.completedDate} ? ${#temporals.format(list.completedDate,'yyyy-MM-dd HH:mm')} : ${list.completedDate}"></span>
                    </p>
                </div>
                <div class="jumbotron-right">
                    <p>
                        <span>
                        <input id="list_complete" type="hidden" th:value="${list?.completedDate}">
                        <button type="button" data-th-value="${list.idx}" th:if="!${list.status}" class="complete"><img
                                class="img" name="img2" src="/images/check.png"></button>
                        <button type="button" data-th-value="${list.idx}" th:if="${list.status}" class="complete"><img
                                class="img" name="img2" src="/images/checked.png"></button>
                        <button type="button" data-th-value="${list.idx}" class="update"><img class="img"
                                                                                              src="/images/edit.png"></button>
                        <button data-th-value="${list.idx}" class="delete"><img class="img"
                                                                                src="/images/trash.png"></button>
                        </span>
                    </p>
                    <p>
                        <span>
                            <button data-th-value="${list.idx}" class="reply">댓글</button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!--<div style="display: none" style="width: 50%;" class="replyDiv">-->
        <div class="replyDiv" onsubmit="return false" style="display:none; width: 60%;">
            <ul class = "myList" style="list-style: none;">
                <li th:each="reply : ${list.replies}">
                    <div style="text-align: left;">
                        <h4 th:text="${reply.content}"></h4>
                    </div>
                    <div style="text-align: right;">
                        <button data-th-value="${reply.idx}" class="reply_update">수정</button>
                        <button data-th-value="${reply.idx}" class="reply_delete">삭제</button>
                    </div>
                </li>
            </ul>
            <input style="width: 40%" class="replyText" type="text"/>
            <button data-th-value="${list.idx}" type="submit" class="replyAdd">ADD</button>
        </div>

    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/list.js"></script>

</body>
</html>